/* ブラウザで設定されているスタイルのリセット・共通設定 */
/* 消さないでください */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p,
ul,
li,
form,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}
/* スタイルのリセット終了 */

/* サイドバーとメインコンテンツを包むための要素のスタイルを書いてください */
.container {
  display: flex;
  min-height: 100vh; /* ビューポートの高さに合わせる */
}

/* サイドバーに関連するスタイルを書いてください */
.sidebar {
  width: 256px;
  height: 100%;
  flex-shrink: 0;
  background-color: #f5f5f5;
  border-right: 1px solid #e0e0e0;
  flex-direction: column;
}

.header {
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.header a {
  text-decoration: none;
  color: inherit;
  font-size: 1.25rem;
  font-weight: 600;
  color: #4f7cac;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* メインコンテンツに関連するスタイルを書いてください */
#home {
  flex: 1;
  padding: 32px;
  color: #fff;
}

.ri-user-smile-line {
  width: 96px;
  height: 96px;
  background-color: #4f7cac;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 24px auto;
  font-size: 2.5rem;
  color: #fff;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2f2f2f;
  margin-bottom: 8px;
}

.sub-title {
  font-size: 1.125rem;
  color: #757575;
  margin-bottom: 24px;
}

.welcome-message {
  max-width: 672px;
  margin: 0 auto;
  padding: 32px;
}

.welcome-message p {
  color: #757575;
  line-height: 1.5;
  margin-bottom: 16px;
}